.text-field {
  inset: 0;
  background-color: var(--black-100);
  color: var(--black-1000);
  padding: 18px 30px;
  border: var(--border-color) 1px solid;
  border-radius: 24px;
  caret-color: var(--black-800);
}

.text-field:hover {
  background-color: var(--background-color);
  border: var(--foreground-color) 1px solid;
}

.text-field:focus {
  outline: none;
  color: var(--black-800);
  background-color: var(--background-color);
  border: var(--foreground-color) 2px solid;
}

.text-field.error {
  background-color: var(--red-1);
  border: var(--red-3) 1px solid;
}

.text-field.error:focus {
  background-color: var(--black-100) !important;
  border: var(--red-3) 2px solid;
}

.text-field.disabled {
  background-color: var(--black-200);
  border-color: var(--black-400);
  border-color: transparent;
  cursor: not-allowed;
}

.text-field:-webkit-autofill,
.text-field:-webkit-autofill:hover, 
.text-field:-webkit-autofill:focus, 
.text-field:-webkit-autofill:active {
  background: none !important;
  box-shadow: 0 0 0px 1000px var(--white) inset !important;
  color: inherit !important;
}

.guide {
  position: relative;
  margin-top: 4px;
  margin-left: 20px;
  color: var(--black-700);
  transition: opacity .2s ease-in-out;
}

.guide.void { opacity: 0; }
.guide.error { color: var(--red-3); }
.guide.matched { color: var(--secondary-600); }

.guide.matched::before {
  content: "";
  position: absolute;
  left: -17px;
  top: 50%;
  width: 10px; 
  height: 5px;
  border-left: var(--secondary-500) 2px solid;
  border-bottom: var(--secondary-500) 2px solid;
  transform: rotate(-45deg) translateY(-30%);
  transform-origin: 0% 0%;
  background-color: transparent;
  animation: checkbox-check .2s ease-in-out forwards;
}

@keyframes checkbox-check {
  0% { width: 0; height: 0; opacity: 0; }
  33% { width: 0; height: 5px; opacity: 1; }
  100% { width: 10px; height: 5px; opacity: 1; }
}

.text-field-container {
  position: relative;
  display: flex;
  align-items: center;
}

.eye-icon {
  position: absolute;
  cursor: pointer;
  display: flex;
  right: 20px;
}