 /* 나가기 버튼 modal */

 .modalOverlay {
     position: fixed;
     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     background-color: rgba(0, 0, 0, 0.5);
     /* 반투명 배경 */
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 /* 학습 종료 modal */
 .endTestModalContainer {
     width: 31.25rem;
     height: 30.75rem;

     display: flex;
     flex-direction: column;
     align-items: center;

     border-radius: 1.5rem;
     border: 1px solid var(--Black-300, #CBCBCB);
     background: var(--Black-100, #FEFEFE);

     z-index: 1000;
 }

 .endTestModalContainer h2 {
     width: 26.75rem;
     color: var(--Black-1000, #1A1A1A);
     margin: 2.25rem 0 0 0;

     /* Ko/Sb/30 */
     font-family: "Pretendard Variable";
     font-size: 1.875rem;
     font-style: normal;
     font-weight: 600;
     line-height: 150%;
     /* 2.8125rem */
 }

 .endTestModalContainer p {
     width: 26.75rem;
     margin: 0.5rem 0 0 0;
     color: var(--Black-600, #7F7F7F);

     /* Ko/Sb/20 */
     font-family: "Pretendard Variable";
     font-size: 1.25rem;
     font-style: normal;
     font-weight: 600;
     line-height: 150%;
     /* 1.875rem */
 }

 .countTextContainer {
     width: 26.75rem;
     display: flex;
     flex-direction: column;
     margin: 0.5rem 2.25rem 0 2.25rem;

     color: var(--Black-600, #7F7F7F);
     font-family: "Pretendard Variable";
     font-size: 1.25rem;
     font-style: normal;
     font-weight: 600;
     line-height: 150%;
     /* 1.875rem */
 }

 .checkImgContainer {
     width: 26.75rem;
     height: 14.06rem;
     margin: 0 2.25rem 0 2.25rem;

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .testCompleteImg {
     width: 16.25rem;
     height: 16.25rem;
 }

 .buttonCancel {
     width: 28.25rem;
     height: 3.375rem;
     border-radius: 1rem;
     background: var(--Primary500, #FEFEFE);
     margin: 1rem 1.5rem 0 1.5rem;

     color: var(--Black-1000, #1A1A1A);
     /* Ko/Sb/18 */
     font-family: "Pretendard Variable";
     font-size: 1.125rem;
     font-style: normal;
     font-weight: 600;
     line-height: 150%;
     /* 1.6875rem */
 }

 .buttonCancel:hover {
     background-color: #ffe0b2;
 }

 .homeBtn {
     width: 28.25rem;
     height: 3.375rem;
     border-radius: 1rem;
     background: var(--Primary500, #FFA321);
     margin: 0 1.5rem 0 1.5rem;

     color: var(--Black-1000, #1A1A1A);
     /* Ko/Sb/18 */
     font-family: "Pretendard Variable";
     font-size: 1.125rem;
     font-style: normal;
     font-weight: 600;
     line-height: 150%;
     /* 1.6875rem */
 }

 .homeBtn:hover {
     background: var(--Primary600, #FF971A);
 }