
.nav-container {
  width: 91%;
  display: flex;
  position: relative;
  justify-content: center;
}

.nav-bar {
  width: 100%;
  display: flex;
  background-color: var(--background-color);
  border-radius: 24px;
  padding: 12px 40px 12px 80px;
}

.nav-element {
  position: relative;
}

.nav-button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  padding: 8px 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.nav-element.selected .nav-button {
  background-color: var(--selected-color);
}

.nav-button:hover {
  background-color: var(--hovered-color);
}

.nav-button:active {
  transform: scale(.99);
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  width: 160px;
  left: 50%;
  top: 145%;
  transform: translateX(-50%);
  background-color: var(--selected-color);
  border-radius: 8px;
  padding-top: 9px;
  padding-bottom: 9px;
  z-index: 10;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.dropdown-menu.visible {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu::after {
  content: "";
  position: absolute;
  top: -13px;
  left: 50%;
  transform: translateX(-50%);
  width: 47px;
  height: 13px;
  background-color: var(--selected-color);
  mask-image: url("/assets/widgets/speechBubbleTail.svg");
  -webkit-mask-image: url("/assets/widgets/speechBubbleTail.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-item {
  position: relative;
  width: 100%;
  text-align: left;
  padding: 10px 16px;
  border: none;
  text-align: center;
  background: transparent;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: color-mix(in srgb, var(--hovered-color) 50%, transparent);
}

.dropdown-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 80%;
  left: 10%;
  top: 100%;
  background-color: blue;
  border-bottom: 1px solid var(--hovered-color);
}


.icon-button {
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  background: transparent;
  border: none;
  cursor: pointer;
  width: 38px;
  height: 38px;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

.icon-button:hover {
  background-color: var(--hovered-color);
}

.nav-element.selected .icon-button {
  background-color: var(--selected-color);
}