.ViewDragBlock_Setting {
  position: relative;
  width: 100vw;
  height: 90vh;
  background-color: #ffffff;
  overflow: hidden; /* 스크롤 방지 */
  z-index: 0;
  margin-top: 100px;
}

.StaticBox {
  background: #8d0101 !important;
  position: absolute;
  z-index: 2;
}

.DraggableBox {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden; /* 스크롤 방지 */
}

.Draggable {
  width: 100px;
  height: 100px;
  position: absolute;
  cursor: grab;
  transition: background 1s;
  z-index: 3;
}

.Draggable:active {
  cursor: grabbing;
}
