.bodyContainer{
    display: flex;
    justify-content: center;
}

.progressContainer{
    width: 87rem; 
    height: 6.56rem;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    position: absolute;
}

.exitButtonContainer{
    width: 16.954%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.exitButton{
    width: 20.3%;
    height: 64.78%;
}

.progressBar {
    width: 66%;
    height: 100%;
    background-color: red;
}

.progressStatusContainer{
    width: 14.51%;
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    margin-left: 2.46%;
}

.progressStatus{
    margin: 0;
    color: var(--Black-1000, #1A1A1A);
    text-align: right;

    /* En/Sb/17 */
    font-family: "Min Sans VF";
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.59375rem */
}
