.container {
  width: 1512px;
  height: 100vh;

  margin: auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #FFF8ED;
  font-family: 'Arial', sans-serif;
}

.containerHead1 {
  margin-top: 226px;
}

.head1 {
  color: var(--Black-1000, #1A1A1A);
  text-align: center;
  margin: 0;

  /* Ko/Sb/20 */
  font-family: "Pretendard Variable";
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* 1.875rem */
}

.timerContainer{
  position: absolute;
  top: 35%;
  left: 20%;
}

.wordBox {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #FEDAA6;
  border-radius: 8px;
  background-color: #FEFEFE;
  /* 흰색 카드 배경 */

  width: 448px;
  height: 260px;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 64px;

  color: var(--Black-1000, #1A1A1A);
  font-family: "Min Sans VF";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 60px */
  /* 텍스트 색상 */
}

.inputContainer{
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;

  margin: 28px 0 0 0;
}

.input {
  width: 118px;
  height: 100%;

  margin-right: 24px;

  border-radius: 8px;
  border: 2px solid var(--Primary500, #FFA321);
  background: var(--Primary100, #FEEDD2);

  color: var(--Black-800, #4D4D4D);
  text-align: center;

  /* En/Sb/40 */
  font-family: "Min Sans VF";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 60px */
}

.inputContainer p{

  margin: 0;
  text-align: center;

  color: var(--Black-700, #666);

  /* En/Sb/40 */
  font-family: "Min Sans VF";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 60px */
  letter-spacing: 8px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  /* 버튼을 세로로 정렬 */
  align-items: center;
  /* 버튼 중앙 정렬 */
}

.button {
  width: 400px;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 16px;
  background-color: #ffa500;
  /* 주황 버튼 */
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-top: 92px;
}

.button:hover{
  background: var(--Primary600, #FF971A);
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}