.wrapper {
    width: 1512px;
    height: 100vh;

    margin: auto;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #FFF8ED;
}

.progressBar {
    width: 57.5rem;
    height: 6.56rem;
    margin-top: 4rem;
    background-color: red;
}

.containerHead1{
    margin-top: 3.56rem;
}

.head1{
    color: var(--Black-1000, #1A1A1A);
    text-align: center;

    /* Ko/Sb/20 */
    font-family: "Pretendard Variable";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.875rem */
}

/* main content */


.contentContainer{
    display: flex;
    margin-top: 4rem;
}

 /* 학습한 voca list  (for study) */

.vocabListBox {
  margin: 0;

  width: 212px;
  height: 380px;

  background-color: #FEDAA6;
  border-radius: 0.5rem;
}

.vocabInstruction {
  margin-top: 16px;
  margin-bottom: 0;
  margin-left: 16px;

  height: 23px;

  color: var(--Black-800, #4D4D4D);

  /* Ko/Reg/15 */
  font-family: "Pretendard Variable";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 22.5px */
}

.vocabList {
  margin-top: 12px;
  margin-bottom: 12px;

  width: 212px;
  height: 317px;

  background-color: #FEDAA6;

  overflow-y: auto;
}

.vocabOl {
  margin: 0;

  color: #000;

  /* En/Md/17 */
  font-family: "Min Sans VF";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  /* 25.5px */
}

/* test timer (for test) */

.timerContainer{
  width: 2rem;
  height: 23.75rem;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.testTimer{
    position: relative;
    width: 1rem;
    height: 19.625rem;
    border-radius: 0.5rem;
    border: 1px solid var(--Primary400, #FFB54D);
    background: var(--Primary200, #FEDAA6);
}

/* 시간 감소 시각화 디자인 */
.testTimerCover{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    border-radius: 0.5rem;
    background: var(--Primary700, #FF8B14);
    animation: var(--animation-duration) linear timer;
}

@keyframes timer {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

.leftTime{
  margin: 0.5rem 0 0 0;
  color: #000;
  text-align: center;

  /* En/Sb/17 */
  font-family: "Min Sans VF";
  font-size: 1.0625rem;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 1.59375rem */
}

/* vocab card */

.wordCardContainer{ 
    width: 28rem;
    height: 23.75rem;
    margin-left: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 0.75rem;
    border: 2px solid var(--Primary200, #FEDAA6);
    background: var(--Black-100, #FEFEFE);
}

.currentVoca{
  width: 100%;
  height: 3.75rem;
  text-align: center;
  margin: 0;
  color: var(--Black-1000, #1A1A1A);
  font-family: "Min Sans VF";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.75rem; /* 3.75rem */

}

/* 테스트용 선지 */

.vocaQuizList{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;

    width: 28rem;
    height: 23.75rem;

    margin-left: 1.5rem;
}

.vocaQuiz{
    width: 28rem;
    height: 5rem;
    border-radius: 1rem;
    border: 1px solid var(--Primary300, #FFC779);
    background: var(--Black-100, #FEFEFE);

    color: var(--Black-1000, #1A1A1A);

    /* Ko/Sb/18 */
    font-family: "Pretendard Variable";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.6875rem */
}

.vocaQuiz:hover{
    background: var(--Primary100, #FEEDD2);
}

.vocaQuizClicked{
    width: 28rem;
    height: 5rem;
    border-radius: 1rem;
    border: 1px solid var(--Primary300, #FFC779);
    background: var(--Primary200, #FEDAA6);

    color: var(--Black-1000, #1A1A1A);

    /* Ko/Sb/18 */
    font-family: "Pretendard Variable";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.6875rem */
}


/* modal pop up 시 화면 backgroud 설정 */

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  /* 테스트용 modal */

  .ImgModalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28rem;
    height: 23.75rem;
    z-index: 100;
    animation-duration: 3s;
  }

  .answer {
    color: blue;
    font-family: "Pretendard Variable";
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.6875rem */
  }

  .wrongAnswer {
    color: red;
    font-family: "Pretendard Variable";
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.6875rem */
  }

  /* 학습 종료 modal */
  .endTestModalContainer {
    width: 31.25rem;
    height: 30.75rem;
    
    display: flex;
    flex-direction: column;

    border-radius: 1.5rem;
    border: 1px solid var(--Black-300, #CBCBCB);
    background: var(--Black-100, #FEFEFE);
  }

  .endTestModalHeaderText{
    width: 26.75rem;
    margin: 2.25rem 2.25rem 0 2.25rem;
    color: var(--Black-1000, #1A1A1A);

    /* Ko/Sb/30 */
    font-family: "Pretendard Variable";
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 2.8125rem */
  }

  .countTextContainer {
    width: 26.75rem;
    display: flex;
    flex-direction: column;
    margin: 0.5rem 2.25rem 0 2.25rem;

    color: var(--Black-600, #7F7F7F);
    font-family: "Pretendard Variable";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.875rem */
  }

  .checkImgContainer {
    width: 26.75rem;
    height: 16.56rem;
    margin: 0 2.25rem 0 2.25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .testCompleteImg{
    width: 6.375rem;
    height: 6.375rem;
  }

  .homeBtn {
    width: 28.25rem;
    height: 3.375rem;
    border-radius: 1rem;
    background: var(--Primary500, #FFA321);
    margin: 0 1.5rem 0 1.5rem;

    color: var(--Black-1000, #1A1A1A);
    /* Ko/Sb/18 */
    font-family: "Pretendard Variable";
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 1.6875rem */
  }