.button {
  display: flex;
  padding: 13.5px;
  border-radius: 16px;
  cursor: pointer;
  color: var(--black-1000);
  transition: all .3s;
  justify-content: center;
  align-items: center;
  border: 0;
}

.button:active {
  transform: scale(.99);
}

.button-children {
  display: flex;
  height: 27px;
  justify-content: center;
  align-items: center;
}

.button.disabled {
  background-color: var(--black-200) !important;
  color: var(--black-500) !important;
  cursor: not-allowed;
  border: none !important;
}

/* Button Color */
.button.button3.primary, 
.button.button1.secondary {
  background-color: var(--secondary-500);
  color: var(--black-100);
}
.button.button3.primary:hover,
.button.button1.secondary:hover { background-color: var(--secondary-600); }
.button.button3.primary:active,
.button.button1.secondary:active { background-color: var(--secondary-700); }

.button.button2.primary { background-color: var(--primary-200); }
.button.button2.primary:hover { background-color: var(--primary-300); }
.button.button2.primary:active { background-color: var(--primary-400); }
.button.button2.secondary { background-color: var(--secondary-200); }
.button.button2.secondary:hover { background-color: var(--secondary-300); }
.button.button2.secondary:active { background-color: var(--secondary-400); }

.button.button1.primary,
.button.button3.secondary { background-color: var(--primary-500); }
.button.button1.primary:hover,
.button.button3.secondary:hover { background-color: var(--primary-600); }
.button.button1.primary:active,
.button.button3.secondary:active { background-color: var(--primary-700); }

.button.button4 { background-color: var(--black-100); }
.button.button4.primary:hover { background-color: var(--primary-100); }
.button.button4.primary:active { background-color: var(--primary-300); }
.button.button4.secondary:hover { background-color: var(--secondary-100); }
.button.button4.secondary:active { background-color: var(--secondary-300); }

.button.button5.primary { background-color: var(--primary-600); }
.button.button5.primary:hover { background-color: var(--primary-700); }
.button.button5.primary:active { background-color: var(--primary-800); }
.button.button5.secondary { background-color: var(--secondary-300); }
.button.button5.secondary:hover { background-color: var(--secondary-400); }
.button.button5.secondary:active { background-color: var(--secondary-500); }

.button.button6 { background-color: var(--black-100); }
.button.button6:hover { background-color: var(--black-200); }
.button.button6:active { background-color: var(--black-300); }


.button.text {  background-color: transparent;  }
.button.text:hover, .button.text:active { 
  text-decoration: underline; 
  text-underline-offset: .3em; 
}

/* Button Border */
.button.button4.primary { border: var(--primary-300) 1px solid; }
.button.button4.secondary { border: var(--secondary-300) 1px solid; }
.button.button6 { border: var(--black-300) 1px solid; }

.button.button5.disabled .button-icon {
  color: var(--black-500);
}

.button.button5 { padding: 10px; }