.password {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  height: 60%;
  justify-content: center;
  align-items: center;
}

.title {
  text-align: center;
}