.wrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.graphic {
    width: 50%;
    height: 100%;
    margin: 0;
    background-color: #808080;
}

.loginWrapper {
    width: 50%;
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FBF7EF;
}

.loginContainer {
    width: 26.4vw; /* 400px / 1512px * 100 */
    margin-top: 27.7vh; /* 272px / 982px * 100 */
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 14vw; /* 212px / 1512px * 100 */
    height: 7.3vh; /* 72px / 982px * 100 */

    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formWrapper {
    margin-top: 5.7vh; /* 56px / 982px * 100 */
    margin-bottom: 0;
    width: 100%;
    height: 25.5vh; /* 250px / 982px * 100 */

    padding: 0;
}

.loginForm {
    width: 100%;
    height: 25.5vh;
    margin: 0;
    padding: 0;
}

.userId {
    margin-bottom: 0;
    width: 26.4vw;
    height: 5.5vh; /* 54px / 982px * 100 */
}

.userIdInput {
    display: flex;
    height: 1.8vh; /* 18px / 982px * 100 */
    width: 22.4vw; /* 338px / 1512px * 100 */
    padding: 1.7vh 1.98vw; /* 17px / 982px * 100, 30px / 1512px * 100 */
    align-items: center;

    border-radius: 2.44vh; /* 24px / 982px * 100 */
    border: 1px solid #FFC779;
    background: #FEFEFE;
}

.userIdInput:focus {
    outline: 0.1vh solid #FFA321; /* 1px / 982px * 100 */
}

.userPw {
    margin-top: 2.44vh; /* 24px / 982px * 100 */
    margin-bottom: 0;
    width: 26.4vw;
    height: 5.5vh;
}

.userPwInput {
    display: flex;
    height: 1.8vh;
    width: 22.4vw;
    padding: 1.7vh 1.98vw;
    align-items: center;

    border-radius: 2.44vh;
    border: 1px solid #FFC779;
    background: #FEFEFE;
}

.userPwInput:focus {
    outline: 0.1vh solid #FFA321;
}

.loginButton {
    width: 100%;
    height: 5.5vh;
    margin-top: 6.5vh; /* 64px / 982px * 100 */
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 1.63vh; /* 16px / 982px * 100 */
    border: none;
    background-color: #FFA321;

    cursor: pointer;
}

.forgetPw {
    margin-top: 1.63vh; /* 16px / 982px * 100 */
    margin-bottom: 0;

    background: none;
    border: none;
    cursor: pointer;

    color: #1A1A1A;
    text-align: center;

    font-family: "Pretendard Variable";
    font-size: 1.53vh; /* 15px / 982px * 100 */
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}

.error {
    position: absolute;

    margin-top: 1.63vh;
    margin-bottom: 0;

    color: var(--red-3, #F54316);

    font-family: "Pretendard Variable";
    font-size: 1.32vh; /* 13px / 982px * 100 */
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
