/* General Styles */
.wrapper {
  display: flex;
  justify-content: center;
  user-select: none;
}

.container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FBF7EF;
  color: #333;
  height: 982px;
  width: 1512px;
  
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    width: 1392px;
    height: 72px;
    margin: 36px 60px;
}

/* Logo Section */
.logoSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background-color: none;
  padding: 15px 19px;
  border-radius: 24px;
  width: 174px;
  height: 42px;
  text-align: center;
}
  
  .logo {
    background-color: #FFC779;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Navigation Section */
  .navSection {
    display: flex;
    width: 1116px;
    height: 52px;
    justify-content: space-between;
    align-items: center;
    background-color: #FFC779;
    padding: 10px 20px;
    border-radius: 24px;
  }
  
  .navStudent {
    display: flex;
    gap: 30px;
    align-items: center;
    width: 565px;
    height: 46px;
    padding: 0;
    margin-left: 50px;
  }
  
  .navStudent a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    height: 26px;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
  }
  
  .navStudent a:hover {
    text-decoration: none;
    background-color: #FEEDD2;
  }

  /* Service Section */
  .navService {
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    width: 106px;
  }

  .serviceButton {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .userButton {
    background: none;
    border: none;
    cursor: pointer;
  }

/* Main Content */
.main {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 1372px;
  margin: 0 60px;
}

.grid {
  display: flex;
  flex-direction: column;
  width: 448px;
  height: 605px;
  margin: 0;
  padding: 0;
}

/* 유저 정보 및 수업 진행도 */
.user {
  border-radius: 24px;
  border: 1px solid #FEDAA6;
  background: #FEFEFE;
  height: 144px;
  padding: 24px;
}

.progressGrid {
  margin-top: 24px;
  padding: 0;
}

.message {
  height: 45px;
  font-size: 30px;
  line-height: 150%;
  font-weight: 600;
  margin: 0;
}

.progress {
  margin-top: 12px;
  margin-bottom: 0;
  border-radius: 24px;
  border: 1px solid #FEDAA6;
  background: #FEFEFE;
  height: 284px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* Info Section */
.info {

}

.name {
  color: #000;

  /* Ko/Md/24 */
  font-family: "Pretendard Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 36px */
  margin: 0;
}

.teacher {
  color: #757575;

  /* Ko/Md/17 */
  font-family: "Pretendard Variable";
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 25.5px */
  margin: 0;
}

.infoBtn {
  margin-top: 24px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myInfoButton {
  background-color: #FFA321;
  border: none;
  border-radius: 16px;

  height: 54px;
  width: 195px;
  cursor: pointer;
  color: #1A1A1A;

  /* Ko/Sb/18 */
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
}

.logoutButton {
  background-color: #FEFEFE;
  border: 1px solid #FEDAA6;
  border-radius: 16px;

  height: 54px;
  width: 195px;
  cursor: pointer;
  color: #1A1A1A;

  /* Ko/Sb/18 */
  font-family: "Pretendard Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 27px */
}

/* Progress Section */
.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.circleProgress {
position: relative;
width: 212px;
height: 212px;
margin: 0 auto;
}

.progressSvg {
width: 100%;
height: 100%;
}

.circleBg {
fill: none;
stroke: #e0e0e0;
stroke-width: 14;
}

.circleFg {
fill: none;
stroke: #7280ff;
stroke-width: 14;
stroke-dasharray: 577.6;
stroke-dashoffset: calc(577.6 - (0.75 * 577.6)); /* For 75% */
stroke-linecap: round;
transform: rotate(-90deg);
transform-origin: center;
}

.progressText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: bold;
    user-select: none;
}

.note {
    margin-top: 10px;
    font-size: 26px;
    color: #666;
}

/* Start Learning Button */
.startLearning {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 924px;
  text-align: center;
  margin: 0;
}

.graphic {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 924px;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.1);
}

.startButton {
  width: 260px;
  height: 68px;
  background-color: #0084D0;
  border: none;
  border-radius: 16px;
  padding: 12px 24px;
  margin-bottom: 69px;
  cursor: pointer;
  color: #FEFEFE;
}
